.navbar {
  width: 100%;
  height: 90px;
  background: #ececf4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(260px, 32vw, 920px); /* grand espace responsive */
  padding: 0 60px;
  box-sizing: border-box;
}

/* logo */
.navbar-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

/* texte sportsee */
.logo-text {
  font-size: 42px;
  font-weight: 800;
  color: #1f34f2;
  letter-spacing: -1px;
}

/* barres animées */
.logo-bars {
  display: flex;
  align-items: flex-end;
  gap: 3px;
  height: 26px;
}

.logo-bars span {
  width: 4px;
  background: #ff5b3d;
  border-radius: 20px;
  animation: navbarBars 1s infinite ease-in-out;
}

/* tailles des barres */
.logo-bars span:nth-child(1) {
  height: 10px;
  animation-delay: 0s;
}

.logo-bars span:nth-child(2) {
  height: 18px;
  animation-delay: 0.15s;
}

.logo-bars span:nth-child(3) {
  height: 14px;
  animation-delay: 0.3s;
}

.logo-bars span:nth-child(4) {
  height: 22px;
  animation-delay: 2s;
}

/* animation */
@keyframes navbarBars {
  0% {
    transform: scaleY(1);
    opacity: 0.7;
  }

  50% {
    transform: scaleY(1.6);
    opacity: 1;
  }

  100% {
    transform: scaleY(1);
    opacity: 0.7;
  }
}

/* menu */
.navbar-menu {
  background: #f1f1f1;
  border-radius: 40px;
  padding: 12px 28px;
  display: flex;
  align-items: center;
  gap: 28px;
}

.navbar-menu button {
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  color: #111;
  transition: 0.2s;
}

.navbar-menu button:hover {
  opacity: 0.7;
}

.navbar-separator {
  width: 1px;
  height: 28px;
  background: #6c63ff;
}

.logout-btn {
  color: #3145ff !important;
  font-weight: 500;
}