.weekly-summary {
  margin-top: 70px;
  background: white;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.05);
}

.weekly-summary-header h2 {
  font-size: 1.5rem;
  color: #161616;
  margin-bottom: 5px;
}

.weekly-summary-header p {
  color: #777;
  font-size: 1rem;
}

.weekly-summary-content {
  display: flex;
  gap: 40px;
  margin-top: 25px;
  align-items: center;
}

.weekly-summary-chart {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.weekly-summary-goal {
  text-align: center;
}

.weekly-summary-goal-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2340ff;
}

.weekly-summary-goal p {
  color: #777;
  font-size: 1rem;
  margin-top: 5px;
}

.weekly-summary-pie-chart {
  width: 100%;
  max-width: 250px;
}

.weekly-summary-stats {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.weekly-summary-stat {
  background: #f5f5fb;
  border-radius: 16px;
  padding: 22px 28px;
  min-height: 104px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weekly-summary-stat-title {
  font-size: 1rem;
  font-weight: 400;
  color: #7b7b86;
  margin-bottom: 14px;
}

.weekly-summary-stat-data {
  display: flex;
  align-items: baseline;
  gap: 6px;
  line-height: 1;
}

.weekly-summary-stat-value {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.weekly-summary-stat-value-dark-blue {
  color: #2340ff;
}

.weekly-summary-stat-value-dark-red {
  color: #ff4b1f;
}

.weekly-summary-stat-unit {
  font-size: 1.05rem;
  font-weight: 400;
}

.weekly-summary-stat-unit-blue {
  color: #a5b4ff;
}

.weekly-summary-stat-unit-red {
  color: #ffb09c;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .weekly-summary-content {
    flex-direction: column;
  }

  .weekly-summary-stats {
    width: 100%;
  }
}